In [ ]:
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt

In [ ]:
survey = pd.read_csv("survey.csv", dtype = 'unicode')
morethanoneresponse = [7, 9, 10, 12, 14, 16, 17, 18, 19, 23, 26, 27, 28, 29, 31, 33, 34, 35, 36, 37, 39]
rel_cols = {}
for q in morethanoneresponse:
    for (columnName, columnData) in survey.iteritems():
        if ("Q" + str(q)) in columnName:
            if ("Q" + str(q)) not in rel_cols:
                rel_cols["Q" + str(q)] = [columnName]
            else:
                rel_cols["Q" + str(q)].append(columnName)
rel_cols

{'Q10': ['Q10'],
 'Q12': ['Q12'],
 'Q14': ['Q14'],
 'Q16': ['Q16'],
 'Q17': ['Q17'],
 'Q18': ['Q18'],
 'Q19': ['Q19'],
 'Q23': ['Q23'],
 'Q26': ['Q26'],
 'Q27': ['Q27'],
 'Q28': ['Q28'],
 'Q29': ['Q29'],
 'Q31': ['Q31'],
 'Q33': ['Q33'],
 'Q34': ['Q34'],
 'Q35': ['Q35'],
 'Q36': ['Q36'],
 'Q37': ['Q37'],
 'Q39': ['Q39'],
 'Q7': ['Q7'],
 'Q9': ['Q9']}

In [ ]:
other_cols = []
for other in range(1, 40):
    if other not in morethanoneresponse:
        other_cols.append(other)

surv = survey[["Q" + str(other) for other in other_cols]].copy()
surv = surv.assign(Duration = survey.get("Time from Start to Finish (seconds)"))
surv.rename(columns = {"Duration": "Time from Start to Finish (seconds)"}, inplace = True)
surv

                                Q1  ... Time from Start to Finish (seconds)
0      What is your age (# years)?  ...               Duration (in seconds)
1                            35-39  ...                                1838
2                            30-34  ...                              289287
3                            35-39  ...                                 860
4                            30-34  ...                                 507
...                            ...  ...                                 ...
20032                        18-21  ...                                 126
20033                        55-59  ...                                 566
20034                        30-34  ...                                 238
20035                        22-24  ...                                 625
20036                        22-24  ...                                1031

[20037 rows x 19 columns]

In [ ]:
responses = []
for q, a in rel_cols.items():
    question = []
    for person, col in surv.iterrows():
        answers = []
        for answer in a:
            response = survey.get(answer).iloc[person]
            if type(response) == str:
                answers.append(response.strip())
        question.append(str(answers).strip('[').strip(']'))
    responses.append(question)

In [ ]:
addto = {}
for i, q in enumerate(morethanoneresponse):
    addto[q] = responses[i]
col_titles = ["What programming languages do you use on a regular basis? (Select all that apply)", 
              "Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply)",
              "Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply)",
              "Which types of specialized hardware do you use on a regular basis?  (Select all that apply)",
              "What data visualization libraries or tools do you use on a regular basis?  (Select all that apply)",
              "Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply)",
              "Which of the following ML algorithms do you use on a regular basis? (Select all that apply)",
              "Which categories of computer vision methods do you use on a regular basis?  (Select all that apply)",
              "Which of the following natural language processing (NLP) methods do you use on a regular basis?  (Select all that apply)",
              "Select any activities that make up an important part of your role at work: (Select all that apply)",
              "Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply)",
              "Do you use any of the following cloud computing products on a regular basis? (Select all that apply)",
              "Do you use any of the following machine learning products on a regular basis? (Select all that apply)",
              "Which of the following big data products (relational databases, data warehouses, data lakes, or similar) do you use on a regular basis? (Select all that apply)",
              "Which of the following business intelligence tools do you use on a regular basis? (Select all that apply)",
              "Do you use any automated machine learning tools (or partial AutoML tools) on a regular basis?  (Select all that apply)",
              "Which of the following automated machine learning tools (or partial AutoML tools) do you use on a regular basis?  (Select all that apply)",
              "Do you use any tools to help manage machine learning experiments? (Select all that apply)",
              "Where do you publicly share or deploy your data analysis or machine learning applications? (Select all that apply)",
              "On which platforms have you begun or completed data science courses? (Select all that apply)",
              "Who/what are your favorite media sources that report on data science topics? (Select all that apply)",
              ]
for i, question in enumerate(responses):
    question[0] = col_titles[i]
responses
for i, q in enumerate(morethanoneresponse):
    surv["Q" + str(q)] = responses[i]
surv = surv.sort_index(axis = 1)
survey = pd.DataFrame()
survey["Time from Start to Finish (seconds)"] = surv.get("Time from Start to Finish (seconds)")
for qnum in range(1, 40):
    survey["Q" + str(qnum)] = surv.get("Q" + str(qnum))
qdict = {}
for i in range(1, 40):
    qdict["Q" + str(i)] = survey.get("Q" + str(i)).iloc[0]
qdict["Q29"]

'Which of the following big data products (relational databases, data warehouses, data lakes, or similar) do you use on a regular basis? (Select all that apply)'

In [ ]:
pd.DataFrame.to_csv(survey, 'survey.csv')

In [ ]:
survey

      Time from Start to Finish (seconds)  ...                                                Q39
0                   Duration (in seconds)  ...  Who/what are your favorite media sources that ...
1                                    1838  ...  '"\'Kaggle (notebooks, forums, etc)\', \'Journ...
2                                  289287  ...  '"\'Twitter (data science influencers)\', \'Re...
3                                     860  ...  '\'"Email newsletters (Data Elixir, O\\\'Reill...
4                                     507  ...                                       '"\'None\'"'
...                                   ...  ...                                                ...
20032                                 126  ...
20033                                 566  ...                                       '"\'None\'"'
20034                                 238  ...
20035                                 625  ...  '"\'Twitter (data science influencers)\', \'Ka...
20036                                1031  ...  '"\'Kaggle (notebooks, forums, etc)\', \'Cours...

[20037 rows x 40 columns]